{% extends 'app/base.html' %}

{% block content %}
<h2>Appointments</h2>

<div class="card">
    <h3>Book Appointment</h3>

    <form method="POST">
        {% csrf_token %}

        <label>Patient</label>
        <select name="patient" required>
            {% for p in patients %}
                <option value="{{ p.id }}">{{ p.name }}</option>
            {% endfor %}
        </select>

        <label>Doctor</label>
        <select name="doctor" required>
            {% for d in doctors %}
                <option value="{{ d.id }}">{{ d.name }}</option>
            {% endfor %}
        </select>

        <label>Date</label>
        <input type="datetime-local" name="date" required>

        <button type="submit">Book</button>
    </form>
</div>

<div class="card">
    <h3>Appointments List</h3>

    <table border="1" width="100%">
        <tr>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Status</th>
        </tr>

        {% for a in appointments %}
        <tr>
            <td>{{ a.patient.name }}</td>
            <td>{{ a.doctor.name }}</td>
            <td>{{ a.date }}</td>
            <td>
                {{ a.status }}

                {% if a.status != "Cancelled" %}
                <form method="POST" action="{% url 'cancel_appointment' a.id %}" style="display:inline;">
                {% csrf_token %}
                <button style="background:orange; color:white;">Cancel</button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No appointments yet</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}